<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Your Playlist</title>
    </head>
    <style>
        body {
            text-align: center;
        }
    </style>
    <body>
        <h1>Your Playlist Information</h1>
        <%- table %>
        <hr>
        <a href="/">HOME</a>
    </body>
    
</html>