<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Clear Playlist</title>
    </head>
</html>

<style>
    body {
        text-align: center;
    }
</style>
<body>
    <h1>Clear Your Playlist</h1>
    Your playlist has been cleared. Total items removed: <%- count %>
    <hr>
    </form>
    <a href="/">HOME</a>
</body> 