<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Your Playlist</title>
    </head>
    <style>
        body {
            text-align: center;
        }
    </style>
    <body>
        <h1>View Your Playlist</h1>
        <form action="http://localhost:5001/processViewPlaylist" method="post">
            <fieldset>
                <input type="submit" value="View Playlist Information">
            </fieldset>
        </form>
        <a href="/">HOME</a>
    </body>
</html>